quick-terminal-position=center
theme = catppuccin-mocha
macos-titlebar-style = tabs
command = {{ .ghostty_cmd }}
font-size = 18
font-thicken = true
background-opacity=0.9
background-blur-radius=20
cursor-invert-fg-bg=true

keybind = global:cmd+shift+'=toggle_quick_terminal
keybind = global:cmd+shift+enter=new_window

shell-integration = fish
